# Ignore everything
*

# But not these files...
!.gitignore
!*.R
!*.Rmd
!template.latex
!*.py
!*.ipynb
!*.md
!*.sh
!literature/*/*.pdf
!requirements.txt
!src/**/*
!pages/**/*
!*.rst
!docs/**/*.rst

# ...even if they are in subdirectories
!*/
notebooks/**/* 
venv*
cenv*
env*
build*
legacy*
**/__pycache__
__pycache__
.DS_Store
!.gitkeep
!conf/public/tuneparams.yml